<!DOCTYPE html>
<html lang="en">
<head>
    <base href="${pageContext.request.contextPath}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <header id="header">
        <hlogo id="hlogo">
            <!--<img src="img/logo.png" alt="logo">-->
        </hlogo>
        <hlink id="hlink">
            <a href="search">Платформа систематизации НПА</a>
        </hlink>
        <hmenu id="hmenu">
            <a href="statistic"><i class="fas fa-chart-area"></i></a>
        </hmenu>
    </header>

    <footer>
    </footer>

</body>
</html>