@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}
body {
    display: grid;
    grid-template-areas:
            "header"
            "content"
            "footer";
    grid-template-rows: 46px 1fr 0px;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: 100vh;
    margin: 0;
    background: #f8f8f8;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.01em;
    color: #323C47;
}
#pageHeader {
    grid-area: header;
    background: #FFFFFF;
    border-bottom: #cfcfcf solid 1px;
}

#pageContent {
    grid-area: content;
    background: #f8f8fa;
    padding: 20px 40px 20px 40px;
    margin: 0vh 2vh 2vh 2vh;
}

#pageFooter {
    grid-area: footer;
    background: #FFFFFF;
}

.pre-content p {
    font-size: 13px;
    margin-top: 2px;
}

.title {
    color: #0064ff;
}

.chip {
    color: black;
}

.chips {
    border-bottom: 0px solid #f8f8fa;
}

.collection-item {
    border-bottom: 0px;
}

.collection {
    border: 0px;
}

.btn {
    background: #2a5faa;
    width: 100%;
}

.btn:hover {
    background-color: #1080ff;
}

.pagination li.active {
    background: #2a5faa;
}
[type="checkbox"].filled-in:checked + span:not(.lever)::after {
    background: #2a5faa;
    border: 2px solid #2a5faa;
}

label {
    color: #222;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.select2-container--default .select2-selection--single {
    background-color: #f8f8fa;
    border: 0px solid #f8f8fa;
}

.collection .collection-item.avatar {
    padding-left: 22px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #222222;
}

.autocomplete-content li .highlight {
    color: #0064ff;
}

.secondary-content {
    color: #0064ff;
    cursor: pointer;
}

.secondary-content:hover {
    color: #1080ff;
}
.collection .collection-item.active {
    background-color: #2a5faa;
}

.collection .collection-item.active a {
    color: #FFFFFF;
    text-decoration: underline;
}

.row {
    margin-bottom: 5px;
}
.input-field {
    margin-bottom: 0;
}

.sticky {
    position: sticky;
    top: 0;
}
i.far {
    font-size: 20px;
}

#logo-center {
    width: 100%;
    text-align: center;
    color: rgba(158,158,158,0.71);
    font-size: 44px;
}

#logo-center-ver {
    width: 100%;
    text-align: center;
    color: rgba(158,158,158,0.71);
    font-size: 24px;
}

.stat {
    display: flex;
    flex-direction: row;
    color: rgba(180,180,180,0.85);
    margin-top: 20px;
}

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.stat-item {
    display: flex;
    flex-direction: column;
    background-color: #e4e5e7b3;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.stat-item-content {
    flex: 1 0 auto;
}

.stat-item-content > h6 {
    font-weight: bold;
    text-align: center;
}

.stat-item-footer {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 24px;
}

#top-tag-list {
    background-color: #f8f8f8;
}

.last-docs {
    flex-grow: 3;
    background-color: #e4e5e7b3;
    margin: 10px;
    padding: 10px;
}
