<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <base href="${pageContext.request.contextPath}">
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/select2-like-materialize.css">
    <link rel="stylesheet" href="css/select2.min.css"/>
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/regular.min.css">
    <link rel="stylesheet" href="css/solid.min.css">
    <link rel="stylesheet" href="js/webix/webix.css">
    <link rel="stylesheet" href="js/webix/pivot/pivot.css">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/webix/webix.js"></script>
    <script src="js/webix/pivot/pivot.js"></script>

</head>
<body>
<header id="pageHeader" th:insert="~{partials/main :: header}"></header>

<content id="pageContent">

    <div class="col s12">
        <form action="#" th:action="@{statistic}" th:object="${searchForm}" th:method="GET">
            <div class="row">
                <div class="input-field col s3">
                    <input id="input-search-date-of-document-start" th:field="*{searchDateOfDocumentStart}" type="text" class="datepicker">
                    <label for="input-search-date-of-document-start">Дата запроса С</label>
                </div>

                <div class="input-field col s3">
                    <input id="input-search-date-of-document-end" th:field="*{searchDateOfDocumentEnd}" type="text" class="datepicker">
                    <label for="input-search-date-of-document-end">Дата запроса ПО</label>
                </div>

                <div class="input-field col s1">
                    <button id="input-button" class="btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>

        <div id="testA">

        </div>

    </div>

</content>

<footer id="pageFooter" th:insert="~{partials/main :: footer}"></footer>

<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .webix_header>div {
        background: #005CA1;
        color: #ffffff;
    }
</style>

<script th:inline="javascript">

    let contextPath = [[${contextPath}]];

</script>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            container: 'html',
            firstDay: true,
            format: 'dd-mm-yyyy',
            selectMonths: true,
            selectYears: true,
            minDate: new Date(1000,1,1),
            maxDate: new Date(3000,1,1),
            showClearBtn: true,
            i18n: {
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                weekdays: ["Воскресенье","Понедельник", "Вторник", "Среда", "Чеверг", "Пятница", "Суббота"],
                weekdaysShort: ["Вс","Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                weekdaysAbbrev: ["В","П", "В", "С", "Ч", "П", "С"],
                cancel: 'Отмена',
                clear: 'Очистить',
                done: 'Ок'
            },
        });
    });

    webix.ready(function(){
        let pivot_dataset2 = new webix.DataCollection({
            url: contextPath + "/statistic/search?"
                + "searchDateOfDocumentStart=" + document.getElementById('input-search-date-of-document-start').value + '&'
                + "searchDateOfDocumentEnd=" + document.getElementById('input-search-date-of-document-end').value
        });
        console.log(pivot_dataset2);


        let pivot_dataset = [
            {"name": "Argentina", "year": 2005, "continent": "South America", "form": "Republic", "gdp": 181.357, "oil": 1.545, "balance": 4.699},
            {"name": "Argentina", "year": 2006, "continent": "South America", "form": "Republic", "gdp": 212.507, "oil": 1.732, "balance": 7.167},
            {"name": "Argentina", "year": 2007, "continent": "South America", "form": "Republic", "gdp": 260.071, "oil": 2.845, "balance": 6.728},
            {"name": "Argentina", "year": 2008, "continent": "South America", "form": "Republic", "gdp": 324.405, "oil": 4.333, "balance": 5.990},
            {"name": "Argentina", "year": 2009, "continent": "South America", "form": "Republic", "gdp": 305.763, "oil": 2.626, "balance": 7.544},
            {"name": "Argentina", "year": 2010, "continent": "South America", "form": "Republic", "gdp": 367.565, "oil": 4.474, "balance": 2.418},
            {"name": "Argentina", "year": 2011, "continent": "South America", "form": "Republic", "gdp": 444.612, "oil": 9.414, "balance": -0.299},
            {"name": "Argentina", "year": 2012, "continent": "South America", "form": "Republic", "gdp": 474.812, "oil": 10.496, "balance": 1.264},
            {"name": "Argentina", "year": 2013, "continent": "South America", "form": "Republic", "gdp": 495.067, "oil": 10.851, "balance": -0.361},
            {"name": "Australia", "year": 2005, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 732.091, "oil": 8.014, "balance": -41.878},
            {"name": "Australia", "year": 2006, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 777.901, "oil": 9.997, "balance": -41.461},
            {"name": "Australia", "year": 2007, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 945.694, "oil": 12.322, "balance": -58.543},
            {"name": "Australia", "year": 2008, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 1053.862, "oil": 15.278, "balance": -46.325},
            {"name": "Australia", "year": 2009, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 992.244, "oil": 9.748, "balance": -41.432},
            {"name": "Australia", "year": 2010, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 1244.406, "oil": 14.910, "balance": -35.711},
            {"name": "Australia", "year": 2011, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 1486.914, "oil": 21.497, "balance": -33.522},
            {"name": "Australia", "year": 2012, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 1542.055, "oil": 22.596, "balance": -62.969},
            {"name": "Australia", "year": 2013, "continent": "Australia", "form": "Constitutional monarchy", "gdp": 1598.069, "oil": 23.650, "balance": -87.944}
            ];
        let pivot = {
            container:"testA",
            view:"pivot", id:"pivot",
            height:400,
            width:1000,
            separateLabel: true,
            structure: {
                rows: ["form", "name"],
                columns: ["year"],
                values: [{ name:"oil", operation:["min","max","sum"]}],
                filters:[]
            },
            url:  {
                $proxy:true,
                load: function(view, params){
                    return webix.ajax()
                        .headers({ "Content-type": "application/json" })
                        .get(contextPath + "/statistic/search?"
                            + "searchDateOfDocumentStart=" + document.getElementById('input-search-date-of-document-start').value + '&'
                            + "searchDateOfDocumentEnd=" + document.getElementById('input-search-date-of-document-end').value);
                }
            }
        };

        //let header = { template:"Loading from inline datasource", type:"header" };
        let rawdata = { view:"datatable", autoConfig:true, id:"raw" };

        webix.ui({
            rows:[/*header,*/ pivot, rawdata]
        });

        $$("pivot").$$("data").attachEvent("onItemClick", function(id){
            var item = this.getItem(id);
            var pivot = this.getTopParentView();

            var source = item.$source;
            if (source){
                var raw = pivot.data.getItem(source[0]);
                //webix.message("Based on "+source.length+"raw records. Base country: " + raw.name);
            } else {
                //group row, collect all sources
                var source = [];
                this.data.eachSubItem(id, function(obj){
                    if (obj.$source) source.push.apply(source, obj.$source);
                });
            }

            var data = [].concat(source).map(id => pivot.data.getItem(id));
            $$("raw").clearAll();
            $$("raw").parse(data);
        })
        //$$("pivot").parse(pivot_dataset);

        // $$("pivot").parse(webix.ajax().get(contextPath + "/statistic/search?"
        //     + "searchDateOfDocumentStart=" + document.getElementById('input-search-date-of-document-start').value + '&'
        //     + "searchDateOfDocumentEnd=" + document.getElementById('input-search-date-of-document-end').value));
    });

</script>

</body>
</html>