<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <base href="${pageContext.request.contextPath}">
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/select2-like-materialize.css">
    <link rel="stylesheet" href="css/select2.min.css"/>
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/regular.min.css">
    <link rel="stylesheet" href="css/solid.min.css">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/datatables.min.js"></script>

</head>
<body>
<header id="pageHeader" th:insert="~{partials/main :: header}"></header>

<content id="pageContent">

    <div class="col s12">
        <div class="row">
            <div class="col s10">
                <form action="#" th:action="@{statistic}" th:object="${searchForm}" th:method="GET">
                    <div class="row">
                        <div class="input-field col s3">
                            <input id="input-search-date-of-document-start" th:field="*{searchDateOfDocumentStart}" type="text" class="datepicker">
                            <label for="input-search-date-of-document-start">Дата запроса С</label>
                        </div>

                        <div class="input-field col s3">
                            <input id="input-search-date-of-document-end" th:field="*{searchDateOfDocumentEnd}" type="text" class="datepicker">
                            <label for="input-search-date-of-document-end">Дата запроса ПО</label>
                        </div>

                        <div class="input-field col s1">
                            <button id="input-button" class="btn"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <table id="myDatatable" class="display" style="width: 100%;">
            <thead>
            <tr>
                <th>Дата запроса</th>
                <th>Тип запроса</th>
                <th>Текст запроса</th>
                <th>Дата С</th>
                <th>Дата ПО</th>
                <th>Теги жизн.ситуации</th>
                <th>Теги видов выплат</th>
                <th>Теги действий</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item:${allStatList}">
                    <td th:text="${item.searchDateTime}"></td>
                    <td th:text="${(item.searchType == null || item.searchType.isEmpty()) ? '' : sTypeMap.get(item.searchType)}"></td>
                    <td th:text="${item.searchText}"></td>
                    <td th:text="${item.searchDateOfDocumentStart}"></td>
                    <td th:text="${item.searchDateOfDocumentEnd}"></td>
                    <td>
                        <ul th:each="arrItem : ${item.lifeSituationTagList}">
                            <li th:text="${arrItem.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:each="arrItem : ${item.paymentTypeTagList}">
                            <li th:text="${arrItem.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:each="arrItem : ${item.actionTagList}">
                            <li th:text="${arrItem.name}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <div class="divider"></div>
        <div class="row">
            <div class="col s6">
                <h5>Статистика по типам запросов</h5>
                <div class="col s12" th:each="stat:${statMap}">
                    <div class="col s3" th:text="${sTypeMap.get(stat.getKey())} + ': '"></div>
                    <div class="col s2" th:text="${stat.getValue()}"></div>
                </div>
                <div class="col s12">
                    <div class="col s3">Всего:</div>
                    <div class="col s2" th:text="${statSum}"
                         style="border-top: solid; border-top-width: thin;"
                    ></div>
                </div>
            </div>
            <div class="col s6">
                <h5>Статистика по тегам</h5>
                <div class="col s12" th:each="stat:${statTagMap}">
                    <div class="col s3" th:text="${sTypeMap.get(stat.getKey())} + ': '"></div>
                    <div class="col s2" th:text="${stat.getValue()}"></div>
                </div>
                <div class="col s12">
                    <div class="col s3">Всего:</div>
                    <div class="col s2" th:text="${tagSum}"
                         style="border-top: solid; border-top-width: thin;"
                    ></div>
                </div>
            </div>
        </div>

    </div>

</content>

<footer id="pageFooter" th:insert="~{partials/main :: footer}"></footer>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            container: 'html',
            firstDay: true,
            format: 'dd-mm-yyyy',
            selectMonths: true,
            selectYears: true,
            minDate: new Date(1000,1,1),
            maxDate: new Date(3000,1,1),
            showClearBtn: true,
            i18n: {
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                weekdays: ["Воскресенье","Понедельник", "Вторник", "Среда", "Чеверг", "Пятница", "Суббота"],
                weekdaysShort: ["Вс","Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                weekdaysAbbrev: ["В","П", "В", "С", "Ч", "П", "С"],
                cancel: 'Отмена',
                clear: 'Очистить',
                done: 'Ок'
            },
        });

        $('#myDatatable').DataTable(
            {
                "dom": "lfrtip",
                "scrollY": "45vh",
                "scrollCollapse": true,
                "select": false,
                "paging": false,
                "autoWidth": true,
                order: [ [0, "desc"] ],
                "language": {
                    "lengthMenu": "Показывать _MENU_ ",
                    "search": "Поиск:",
                    "zeroRecords": "Ничего не найдено",
                    "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                    "infoEmpty": "Показано с 0 по 0 из 0 записей",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "paginate": {
                        "first": "Первая",
                        "last": "Посл.",
                        "next": "След.",
                        "previous": "Пред."
                    },
                },
            }
        );


    });

</script>

</body>
</html>